/* Header */
.header {
    background: #202020;
    padding: 10px 0;
    position: sticky;
    top: 0;
      z-index: 999;
  }
  
  .header .inner-logo a {
    font-size: 24px;
    font-weight: 700;
    color: #fff;
  }
  /* End Header */
  
  /* Body */
  .body .sider {
    width: 150px;
    background: #323232;
    color: #fff;
    height: calc(100vh - 56px);
    position: fixed;
    top: 56px;
    left: 0;
  }
  
  .body .main {
    padding: 15px;
    
    margin: 15px;
    position: relative;
    left: 150px;
    width: calc(100% - 180px);
  }
  .body{
    background-color: bisque;
  }
  /* End Body */
  
  /* Sider */
  .sider .inner-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sider .inner-menu ul li a {
    color: #fff;
    display: block;
    padding: 6px 10px;
    border-bottom: 1px solid #515151;
  }
  /* End Sider */

  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: auto; /* Đẩy phần phân trang xuống dưới cùng */
    padding-top: 20px; /* Khoảng cách từ trên xuống cho phần phân trang */
    padding-bottom: 20px; /* Khoảng cách từ dưới lên cho phần phân trang */
    background-color: #f8f9fa; /* Nền màu xám nhạt cho phần phân trang */
  }
  [show-alert].alert-hidden{
    animation-name: alert-hidden;
    animation-duration: 0.5s;
    animation-fill-mode: both;
  }
  @keyframes alert-hidden {
    from{
      right: 15px;
    }
    to{
      right: -100px;
      display: none;
    }
  }
  [show-alert]{
    position: fixed;
    top: 70px;
    right: 15px;
    z-index: 9999;
  }
  [show-alert][close-alert]{
    background-color: #515151;
    border-radius: 50px;
  }
  .image-preview[src=""]{
    display: none;
  }
  .image-preview{
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px;
  }